In [21]:
import pandas as pd
import sys
print(sys.version)

3.13.2 (main, Feb  5 2025, 01:23:35) [GCC 14.2.0]

**Bilan comptable**

In [22]:
data = pd.read_excel("bilan_resultat.xlsx")
# data

In [23]:
# data = pd.read_excel("bilan_resultat.xlsx")
data.drop(["Bilan consolidé", "Unnamed: 1"], axis = 1, inplace = True)
data.drop(index=[0, 1, 2], inplace = True)
data

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
3,Actif,Montant,Passif,Montant
4,Immobilisations incorporelles,1073149,Capital,733956
5,Immobilisation corporelles,3027421,Réserves consolidées,1155309
6,Immobilisation financières,63751,Résultat net de l'exercice part du groupe,626245
7,Impot différé actif,613163,Intérets minoritaires,435756
8,Actif immobilisé,4777484,Capitaux propres de l'ensemble consolidé,2951266
9,stocks,132888,Provisions durables pour risques et charges,1864380
10,clients et comptes rattachés,723982,Dettes financement,1979673
11,Autres créances et comptes de régularisation,489198,NaN,NaN
12,Titres et valeurs de placement,2138420,Passif à long terme,3844053
13,Actif circulant,3484488,Fournisseurs et comptes rattachés,334985
14,Disponibilités,487841,Autres dettes et comptes de régularisation,1619474
15,Total Actif,8749813,Passif circulant,1954459
16,,NaN,Trésorerie-passif,NaN
17,NaN,NaN,Total Passif,8749778

In [24]:
data.columns = ["Postes Actif", "Montants Actif", "Postes Passif", "Montants Passif"]
data

,Postes Actif,Montants Actif,Postes Passif,Montants Passif
3,Actif,Montant,Passif,Montant
4,Immobilisations incorporelles,1073149,Capital,733956
5,Immobilisation corporelles,3027421,Réserves consolidées,1155309
6,Immobilisation financières,63751,Résultat net de l'exercice part du groupe,626245
7,Impot différé actif,613163,Intérets minoritaires,435756
8,Actif immobilisé,4777484,Capitaux propres de l'ensemble consolidé,2951266
9,stocks,132888,Provisions durables pour risques et charges,1864380
10,clients et comptes rattachés,723982,Dettes financement,1979673
11,Autres créances et comptes de régularisation,489198,NaN,NaN
12,Titres et valeurs de placement,2138420,Passif à long terme,3844053
13,Actif circulant,3484488,Fournisseurs et comptes rattachés,334985
14,Disponibilités,487841,Autres dettes et comptes de régularisation,1619474
15,Total Actif,8749813,Passif circulant,1954459
16,,NaN,Trésorerie-passif,NaN
17,NaN,NaN,Total Passif,8749778

In [25]:
actif_labels_of_interest = ["Actif immobilisé", "Actif circulant", "Total Actif"]
data_ = {
  "Postes": data["Postes Actif"],
  "Montants": data["Montants Actif"],
}
data_actif = pd.DataFrame(data_)
filtered_actif = data_actif[data_actif["Postes"].isin(actif_labels_of_interest)]
filtered_actif

              Postes Montants
8   Actif immobilisé  4777484
13   Actif circulant  3484488
15       Total Actif  8749813

In [26]:
passif_labels_of_interest = ["Capitaux propres de l'ensemble consolidé", "Passif à long terme", "Passif circulant"]
data_ = {
  "Postes": data["Postes Passif"],
  "Montants": data["Montants Passif"],
}
data_passif = pd.DataFrame(data_)
data_passif
# print(data_.values())

filtered_passif = data_passif[data_passif["Postes"].isin(passif_labels_of_interest)]
# # data_actif = data[data["Postes Actif"]]
# # data_actif
filtered_passif

                                      Postes Montants
8   Capitaux propres de l'ensemble consolidé  2951266
12                       Passif à long terme  3844053
15                          Passif circulant  1954459

In [27]:
keys = actif_labels_of_interest + passif_labels_of_interest
postes = { key: 0 for key in keys }

In [28]:
for key in actif_labels_of_interest:
    postes[key] = filtered_actif.loc[filtered_actif["Postes"] == key, "Montants"].values[0]
postes

{'Actif immobilisé': 4777484,
 'Actif circulant': 3484488,
 'Total Actif': 8749813,
 "Capitaux propres de l'ensemble consolidé": 0,
 'Passif à long terme': 0,
 'Passif circulant': 0}

In [29]:
for key in passif_labels_of_interest:
    postes[key] = filtered_passif.loc[filtered_passif["Postes"] == key, "Montants"].values[0]
postes

{'Actif immobilisé': 4777484,
 'Actif circulant': 3484488,
 'Total Actif': 8749813,
 "Capitaux propres de l'ensemble consolidé": 2951266,
 'Passif à long terme': 3844053,
 'Passif circulant': 1954459}

In [30]:
# keys = actif_labels_of_interest + passif_labels_of_interest
# postes = { key: 0 for key in keys }
# for key in actif_labels_of_interest:
#     postes[key] = result.loc[result["Postes Actif"] == key, "Montants Actif"].values[0]
# for key in passif_labels_of_interest:
#     postes[key] = result.loc[result["Postes Passif"] == key, "Montants Passif"].values[0]

    # r = data[data["Postes Actif"].isin(actif_labels_of_interest)]['Montants Actif'].values[0]
    # data[data["Postes Actif"].isin(actif_labels_of_interest) | data["Postes Passif"].isin(passif_labels_of_interest)]
    # postes[label] = result[result['Postes Actif'] == label]['Montants Actif'].values[0]
# label1_solde = result[result['Postes Actif'] == "Actif immobilisé"]['Montants Actif'].values
# type(label1_solde[0])
# postes
# t = "154268.2"
# g = float(t)
# g

**Compte de résultat**

In [44]:
data_2 = pd.read_excel("BILAN CPC MARSA MAROC.xlsx", sheet_name=1)
data_2.drop(["CPC Consolidé", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3"], axis = 1, inplace = True)
data_2.drop(index=[0, 1, 2], inplace = True)
data_2.columns = ["Postes", "Montants"]
cr_labels_of_interest = ["Résultat consolidé", "chiffres d'affaires"]
filtered_data_2 = data_2[data_2["Postes"].isin(cr_labels_of_interest)]
filtered_data_2
# data_2

                 Postes   Montants
4   chiffres d'affaires  2482035.0
20   Résultat consolidé   731318.0